<div class="main">
  <div class="commu-items">
    <li>
      <!-- info -->
      <div class="info">
        <div class="commu-image">
          <img src="<%= "commu_images/#{@commu.image_name}"%>" alt="CommuImage">
        </div>
        <div class="commu-name">
          <p><%= @commu.name %></p>
        </div>
        <div class="commu-join">
          <% @user = CommuUser.find_by(commu_id: params[:id], user_id: session[:id])%>
          <% if @user.nil?%>
            <input type="button" name="away" value="脱退">
          <% else %>
            <input type="button" name="join" value="参加">
          <% end %>
        </div>
        <div class="commu-content">
          <p><%= @commu.content %></p>
        </div>
      </div>
    </li>
    <li>
      <!-- posts -->
      <div class="container">
        <div class="post-form">
          <textarea name="新規投稿" rows="8" cols="80"></textarea>
          <input type="submit" name="シェアボタン" value="シェア">
        </div>
        <% if @commu_post.nil? %>
          <p>まだ投稿がありません</p>
        <% else %>
          <% @commu_post.each do |post| %>
            <% @user = User.find_by(id: post.user_id) %>
            <div class="posts-index-item">
              <% if @user %>
                <%= link_to("/userpage/#{@user.id}") do %>
                  <div class="name-box">
                    <div class="post-commu">
                      <img src="<%= "user_images/#{@user.image_name}"%>" alt="UserImage">
                      <p><%= @user.name %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <%= link_to("/post/#{post.id}") do %>
                <div class="content-box">
                  <div class="post-content">
                    <a><%= post.content%></a>
                    <% if post.image_name %>
                      <img src="<%= "post_image/#{post.image_name}"%>">
                    <% end %>
                  </div>
                  <div class="post-day">
                    <a><%= time_ago_in_words(post.created_at)%></a>
                  </div>
                  <% @favor = UserFavor.find_by(post_id: post.id, user_id: session[:id])%>
                  <div class="post-favor">
                    <% if @favor %>
                      <%= link_to("/new_favor/#{post.id}",method: :post) do %>
                      <div class="on">
                        <i class="fas fa-heart fa-2x"></i>
                      </div>
                      <% end %>
                    <% else %>
                      <%= link_to("/new_favor/#{post.id}",method: :post) do %>
                      <div class="off">
                        <i class="fas fa-heart fa-2x"></i>
                      </div>
                      <% end %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        <%# <% end %>
      </div>
    </li>
    <li>
      <!-- users -->
      <div class="users">
        <% @users.each do |user|%>
          <% @user = User.find_by(id: user.user_id) %>
          <%= link_to("/userpage/#{@user.id}") do %>
            <img src="<%= "user_images/#{@user.image_name}"%>">
          <% end %>
        <% end %>
      </div>
    </li>
  </div>
</div>
